<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="p-3 text-bg-dark mb-5">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="/static/111.png" style='transform: translate(-25px, 0px)' alt="Hive Records" width="60" height="53">
          </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'Home' %}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="{% url 'Eq' %}" class="nav-link px-2 text-white">Equipment</a></li>
          <li><a href="{% url 'Pricing' %}" class="nav-link px-2 text-white">Recording</a></li>
          <li><a href="{% url 'FAQ' %}" class="nav-link px-2 text-white">Mixing</a></li>
          <li><a href="{% url 'About' %}" class="nav-link px-2 text-white">Mastering</a></li>
          <li><a href="{% url 'About' %}" class="nav-link px-2 text-white">Beats</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign up</button>
        </div>
      </div>
    </div>
  </header>
    <div class="container">
       {% block body %}{% endblock %}
    </div>
</body>
<footer class="container-fluid" id="footer">
  .....<a class="nav-link" href="{% url 'FAQ' %} FAQ">
</footer>
</html>