{% extends 'base.html'%}

{% block title %}
Pricing
{% endblock %}

{% block body %}
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-5 rounded-5 shadow-sm">
          <div class="card-header py-4 text-bg-dark rounded-1">
            <h4 class="my-0 fs-2 fw-bolder text-warning">Recording</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">35-50€<small class="text-body-secondary fw-light">/1 hour</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>???</li>
              <li>???</li>
              <li>???</li>
              <li>???</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">Choose a date</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-5 shadow-sm">
          <div class="card-header py-4 text-bg-dark rounded-1">
            <h4 class="my-0 fs-2 fw-bolder text-warning">Mastering</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">50€</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>???</li>
              <li>???</li>
              <li>???</li>
              <li>???</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">Buy</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-5 shadow-sm">
          <div class="card-header py-4 text-bg-dark rounded-1">
            <h4 class="my-0 fs-2 fw-bolder text-warning">Mixing</h4>
          </div>
          <div class="card-body ">
            <h1 class="card-title pricing-card-title">70€</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>???</li>
              <li>???</li>
              <li>???</li>
              <li>???</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">Buy</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-5 shadow-sm">
          <div class="card-header py-4 text-bg-dark rounded-1">
            <h4 class="my-0 fs-2 fw-bolder text-warning">Mixing & Mastering</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">100€</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>???</li>
              <li>???</li>
              <li>???</li>
              <li>???</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">Buy</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-5 shadow-sm">
          <div class="card-header py-4 text-bg-dark rounded-1">
            <h4 class="my-0 fs-2 fw-bolder text-warning">Beats</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">15-100€</h1>
            <ul class="list-unstyled mt-3 mb-4 text-">
              <li>MP3 - 15€</li>
              <li>WAW - 30€</li>
              <li>TRACKOUT - 50€</li>
              <li>EXCLUSIVE RIGHTS - 100€</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">Buy</button>
          </div>
        </div>
      </div>
    </div>


    <h2 class="display-6 text-center mb-4">Compare plans</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Free</th>
            <th style="width: 22%;">Pro</th>
            <th style="width: 22%;">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Public</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Private</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Permissions</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Sharing</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Unlimited members</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Extra security</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}